div.lhome {
    position: relative;
    width: 100%;
    height: 320px;
    text-align: center;
}

div.home {
    background: url('../image/bg1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    height: 280px;
    top: 25px;
    z-index: 0;
}

div.home_wenzi {
    color: white;
    position: absolute;
    top: 25px;
    z-index: 1;
    left: 5%;
}

p.home_wenzi {
    color: white;
    position: absolute;
    top: 180px;
    z-index: 1;
    left: 5%;
    font-weight: 500;
    font-family: 方正姚体, sans-serif;
    font-size: 100%;
}

div.llogin {
    position: relative;
    width: 100%;
    height: 600px;
    text-align: center;
}

div.login {
    background: url('../image/bg2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    height: 600px;
    top: 25px;
    z-index: 0;
}

.header {
    color: #18afd3;
    text-align: left;
    padding-left: 5%;
    line-height: 0.7em;
}

.nagivation {
    position: absolute;
    z-index: 2;
    right: 5%;
    left: 5%;
    background-color: #18afd3;
    box-shadow: 0px 0px 10px #303030;
    color: white;
    text-align: right;
    border-radius: 10px;
    height: 40px;
    overflow: hidden;
    padding-right: 10px;
}

.smallnag1 {
    background-color: #18afd3;
    color: white;
    text-align: center;
    margin: 40px 25% auto 55%;
    border-radius: 10px;
    height: 60px;
    font-size: 200%;
    padding-top: 0.5em;
    overflow: hidden;
}

.smallnag2 {
    background-color: #18afd3;
    color: white;
    text-align: center;
    margin: 1em 25% auto 55%;
    border-radius: 10px;
    height: 60px;
    font-size: 200%;
    padding-top: 0.5em;
    overflow: hidden;
}

.sansserif {
    font-family: Agency FB, sans-serif;
    font-weight: 500;
}

.yaoti {
    font-family: 方正姚体, sans-serif;
    font-weight: 400;
}

.table1 {
    background-color: rgba(250, 250, 200, 0.6);
    float: left;
    color: #000000;
    text-align: center;
    margin: 20px auto auto 15%;
    font-size: 200%;
    border-radius: 10px;
    height: 300px;
    width: 350px;
    padding: 1em;
    overflow: visible;
}

h2 {
    font-size: 250%;
}

h1 {
    font-size: 600%;
    font-weight: 600;
    font-family: Agency FB, bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

a.one:link,
a.one:visited {
    background-color: #18afd3;
    display: block;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 80px;
    height: 50px;
    font-weight: bold;
}

a.one:hover,
a.one:active {
    background-color: #f57e57;
}

.image {
    clear: both;
    margin-top: 10px;
    margin-right: 40px;
    transform: scale(1);
}

a.image:hover,
a.image:active {
    filter: drop-shadow(0px 0px 5px #303030);
}

a.smallnag:link,
a.smallnag:visited {
    color: white;
    text-decoration: none;
}

a.smallnag:hover,
a.smallnag:active {
    font-size: 105%;
}

a.backToTop {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 50px;
    /*页边距*/
    right: 50px;
    /*页边距*/
    background: url(top.gif) no-repeat -51px 0;
    display: none;
    border: 1px solid red;
}

a.backToTop:hover {
    background-position: -113px 0
}